<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>

        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/thefurniturestore</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">06dracilla28?</property>

      <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
      <property name="hibernate.show_sql">true</property>

        <mapping class="lk.thefurniturestore.entity.Address"/>
        <mapping class="lk.thefurniturestore.entity.Admin"/>
        <mapping class="lk.thefurniturestore.entity.Cart"/>
        <mapping class="lk.thefurniturestore.entity.Category"/>
        <mapping class="lk.thefurniturestore.entity.City"/>
        <mapping class="lk.thefurniturestore.entity.Delivery"/>
        <mapping class="lk.thefurniturestore.entity.DeliveryType"/>
        <mapping class="lk.thefurniturestore.entity.District"/>
        <mapping class="lk.thefurniturestore.entity.Order"/>
        <mapping class="lk.thefurniturestore.entity.OrderdItems"/>
        <mapping class="lk.thefurniturestore.entity.Product"/>
        <mapping class="lk.thefurniturestore.entity.ProductImages"/>
        <mapping class="lk.thefurniturestore.entity.Province"/>
        <mapping class="lk.thefurniturestore.entity.Role"/>
        <mapping class="lk.thefurniturestore.entity.Status"/>
        <mapping class="lk.thefurniturestore.entity.User"/>
        <mapping class="lk.thefurniturestore.entity.Wishlist"/>

    </session-factory>
</hibernate-configuration>
